
// Font.
$font: (
  primary: ("Roboto",Helvetica,sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  primary:       #EA9E8D,
  secondary:     darken(#EA9E8D, 15%),
  meta:          lighten(#EA9E8D, 25%),
  border:        lighten(#EA9E8D, 55%),
  bg:            lighten(#555e69, 60%),555e69
  accent:        #32769A,
  accent-blue:   #10bcf9,
  accent-violet: #9371e6,
  accent-orange: #fc6e51
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";